{% extends 'base.html' %}

{% block about_active %}class='active'{% endblock %}

{% block heading %}About this site{% endblock %}

{% block page_content %}
    <p>I created this site to make the process of making up release notes much simpler. I found that I was copy and
    pasting a table from <a href="http://www.jira.com">Jira</a> into a Google Document. After I did that I would go
    through and remove some columns and adjust some of the formatting and fonts. Once I was done all of that, I would
    go through all of the issues and make up a list of "TL;DR" items, which is kind of like a summary.</p>

    <p>This site allows me to copy the same table I already was, but now I have someting that does all the formatting
    for me! And all of you, too.</p>

    <h4>How to use this site</h4>
    <p>Using this site is really simple: fill out the <a href="/">form</a>!</p>
{% endblock %}